.text-container{
    position: absolute;
    top: 25vh;
    left: 55vw;
    display:block;
    /* border: 3px solid; */
    width: 30vw;
    height: 30vh;
    z-index: 0;
}

.instructions{
    margin: none;
    border: 2px solid;
    margin: 0;
    position: relative;
    padding: 0 20px;
}
.greeting{
    margin-bottom: 20px;
    
}

.profile-icon{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.welcome-heading{
    font-size: 60px;
    margin-bottom: 0px;
}

.socials{
  padding: 5%;
  width: 100%;
  height: 10%;
  border-radius:0%;
  animation: fade-up 0.9s;
}
.link-icon{
  width:40px;
  margin-right: 20px;
}
.link-icon:hover{
  transform: rotate(15deg)
}

.home-mid{
  position: relative;
  display: flex;
  /* border: 2px solid; */
  padding: 50px;
  align-items: center;
  justify-content: center;
}
/* .avatar{
  box-shadow: 0 4px 8px rgba(72, 40, 40, 0.2); 
} */


.stats-container{
  margin-top: 20px;
  max-width: 400px;
  margin: 20px;
}
.ability-cont{
  height: 100%;
  border: 2px solid;
  border-radius: 12px;
  padding: 14.3px;
}

.exp-bar{
  border: 2px solid;
  border-radius: 12px;
  border-color: #1943b7;
}

.hp-filled{
  width: 300px;
  background-color: #1943b7;
  border-radius: 12px;
}

.exp-filled{
  width: 70px;
  background-color: #1943b7;
  border-radius: 12px;
}

.lang{
  height:70px;
  padding-right: 20px;
}



@media screen and (max-width: 1000px) {

.container-h{
  height: 1900px;
}

.body-text{
position: absolute;
top: 600px;
left: 20vw;
width: 60vw;
color:#1943b7;
}

.socials{
  padding: 5%;
  width: 100%;
  height: 10%;
  border-radius:0%;
  animation: fade-up 0.9s;
}
.link-icon{
  width:40px;
  margin-right: 20px;
}

}

@media screen and (max-width: 800px) {
    .text-container{
        top: 70vw;
        left: 15vw;
        align-items: center;
        width: 500px;
    }
}

@media screen and (max-width: 500px) {

.room{
  position: absolute;
  top: 6vh;
}
.welcome-heading{
  font-size: 40px;
}
.text-container{
  margin:0 50px;
    position: absolute;
    top: 80vw;
    left: 0vw;
    width:auto;
}

  
  .socials{
    padding: 5%;
    width: 100%;
    height: 10%;
    border-radius:0%;
    animation: fade-up 0.9s;
  }
  .link-icon{
    width:40px;
    margin-right: 20px;
  }
  .link-icon:hover{
    transform: rotate(15deg)
  }
  .bottom-text{
    position: absolute;
    top:100px;
    left: 20vw;
    color:#1943b7
  }
  
  }
  