*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TitleFont', sans-serif;
  }

.container{
    width: 100vw;
    min-height: 100vh;
    transition: 0.5s;
}

.roomimg{
    width: 40vw;
    position: absolute;
    top: 50vw;
    left: 35vw;
    transform: translate(-20vw, -46vw);
    height: auto;
    object-fit: contain;
    animation: fade-in 1s;
  }

.lamp{
    width: 4.2vw;
    position: absolute;
    top: 62vw;
    left: 22vw;
    transform: translate(-2vw, -38vw);
    /* animation: fade-in 0.2s; */
}
.lamp-hovered{
  width: 4.71vw;
  position: absolute;
  top: 62vw;
  left: 22vw;
  transform: translate(-2vw, -38.5vw);
}
.shade{
  width:7vw;
  position: absolute;
  top:12.6vw;
  left:22vw;
}
.shade:hover{
  width:7.3vw;
  position:absolute;
  top:12.43vw;
  left:21.8vw;
}

.posters{
  width: 17vw;
    position: absolute;
    top: 50vw;
    left: 34vw;
    transform: translate(-2vw, -38vw);
    /* animation: fade-in 0.2s; */
}
.posters-hovered{
  width: 18vw;
  position: absolute;
  top: 50vw;
  left: 34vw;
  transform: translate(-3vw, -39vw);
}
.bed{
  width: 20vw;
  position: absolute;
  top: 57.7vw;
  left: 24.5vw;
  transform: translate(-2vw, -38vw);
  /* animation: fade-in 0.2s; */
}
.bed-hovered{
  width: 21.2vw;
  position: absolute;
  top: 57.2vw;
  left: 24.2vw;
  transform: translate(-2vw, -38vw);
}
.printer {
  width: 5.5vw;
  position: absolute;
  top: 57.3vw;
  left: 46.2vw;
  transform: translate(-2vw, -38vw);
  /* animation: fade-in 0.2s; */
}
.printer-hovered {
  width: 6vw;
  position: absolute;
  top: 56.55vw;
  left: 45.8vw;
  transform: translate(-2vw, -38vw);
}



@keyframes blinking{
  0% {opacity:0; 
    transform: translateX(40px);
  }
  50% {opacity:1;}
  100% {opacity:0;
    transform: translateX(-40px);
  }
}
@keyframes fade-up{
    0% {
        opacity:0;
        transform: translateY(40px) scale(1);
    }
    100% {
        opacity:1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-down{
  0% {
      opacity:0;
      transform: translateY(-40px) scale(1);
  }
  100% {
      opacity:1;
      transform: translateY(0px) scale(1);
  }
}
@keyframes fade-in{
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}
@keyframes pan{
    0% {opacity:0; 
      transform: translateX(100%);
    }
    50% {opacity:1;}
    100% {opacity:0;
      transform: translateX(0px);
    }
}

@media screen and (max-width: 900px) {
.bottom-text{
  position: absolute;
  top: 600px;
}

.roomimg{
  width: 75vw;
  position: absolute;
  top: 50vw;
  left: 34vw;
  transform: translate(-20vw, -46vw);
  height: auto;
  object-fit: contain;
}

.lamp{
  width: 7.875vw;
  position: absolute;
  top: 79.4vw;
  left: 25.4vw;
  transform: translate(-2vw, -38vw);
}
.lamp-hovered{
width: 8.83vw;
position: absolute;
top: 79.4vw;
left: 25.4vw;
transform: translate(-2vw, -39vw);
}
.posters{
  width: 31.875vw;
  position: absolute;
  top: 57vw;
  left: 48vw;
  transform: translate(-2vw, -38vw);
}
.posters-hovered{
width: 33.75vw;
position: absolute;
top: 57vw;
left: 48vw;
transform: translate(-3vw, -39vw);
}
.bed{
width: 37.5vw;
position: absolute;
top: 71.3vw;
left: 30vw;
}
.bed-hovered{
width: 39.85vw;
position: absolute;
top: 70.8vw;
left: 29.5vw;
}
.printer {
width: 10.3125vw;
position: absolute;
top: 70.6vw;
left: 71vw;
transform: translate(-2vw, -38vw);
}
.printer-hovered {
width: 11.25vw;
position: absolute;
top: 70.6vw;
left: 71vw;
transform: translate(-2.7vw, -39.5vw);
}

.bottom-text{
  position: absolute;
  top:120vw;
  left: 20vw;
  color:#1943b7
}
.shade{
  width: 12.5vw;
  position: absolute;
  top: 21.3vw;
  left: 27.6vw;
}
.shade:hover{
  width:13.2vw;
  position:absolute;
  top:20.4vw;
  left:27.5vw;
}
}