.container-bluem{
    padding: 100px;
    padding-top: 200px;
    padding-left: 400px;
    width: 500px;
}
.built-with{
    position: relative;
    left: 480px;
    top: 25px;
    width: 1000px;
}
.built-lang{
    width: 40px;
    height: 40px;
    position: relative;
    left: 610px;
    top: -10px;
}
.img-border{
    padding: 20px;
    /* border-radius: 20px;
    width: 440px;
    height: 440px;
    z-index: 500;
    background-color: white; */
}
.P-Bluem-img{
    position: relative;
    border-radius: 0px;
    width: 400px;
    height: 400px;
    z-index: 500;
    top: -50px;
}
.P-Bluem-img:hover{
    position: absolute;
    width: 420px;
    height: 420px;
    top: 240px;
    left: 410px;
}
.P-Bluem-name{
    position: absolute;
    top: 270px;
    left: 700px;
    font-size: 85px;
    color: #1943b7;
    z-index: 600;
}
.dark .P-Bluem-name{
    color: rgb(234, 101, 124);
}
.P-Bluem-subheading{
    position: absolute;
    top: 400px;
    left: 870px;
    color: #1943b7;
}
.dark .P-Bluem-subheading{
    color: #fff;
}
.P-Bluem-desc{
    position: absolute;
    top: 450px;
    left: 870px;
    width: 400px;
    color: #1943b7;
}
.dark .P-Bluem-desc{
    color: #fff;
}

@media screen and (max-width: 1000px)
{
.container-bluem{
    padding-left: 50px;
}
.img-border{
    padding-left: 50px;
}
.P-Bluem-img{
    width: 300px;
    height: 300px;
}
.P-Bluem-name{
    left: 440px;
    top: 200px;
}
.P-Bluem-subheading{
    left: 450px;
    top: 305px;
}
.P-Bluem-desc{
    left: 450px;
    top: 350px;
    width: 300px;
}
.P-Bluem-img:hover{
    width: 320px;
    height: 320px;
    position: absolute;
    top: 210px;
    left: 90px;
}
}
