.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1943b7;
    padding: 0.5% 7%;
    transition: 0.5s;
    z-index: 9999;
    opacity: 1;
    position: absolute;
}

.logo{
    width: 80px;
    height: auto;
    cursor: pointer;
    object-fit: contain;
}
.logo:hover{
    transform: rotate(-15deg);
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 150%;
    cursor: pointer;
}

.toggle-icon{
    width: 80px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    margin-left: 40px;
}
.toggle-icon:hover{
    transform: rotate(15deg);
}

/* .search-box input::placeholder{
    color: #fff;
} */
/* .search-box img{
    width: 20px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
.dark .navbar{
    color: #fff;
} */

.nav-text{
    color:#1943b7;
}
.nav-text:hover{
    color:#fff;
}
.dark .nav-text{
    color: #fff;
}
.dark .nav-text:hover{
    color:#a5d1ff;
}
@media screen and (max-width: 1000px){
    .logo{ 
        width: 100px;
    }
}