.abt-photo{
    width: 400px;
    border-radius: 40px;
    z-index: 2;
    position: relative;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(72, 40, 40, 0.2);
}

.photo-container{ 
    /* border: 2px solid; */
}

.top-A{
    padding: 50px;
    padding-top: 150px;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-A h1{
    font-size: 50px;
    
}
.top-A h2{
    font-family: titlefontbold;
}

.abt-top-right{
    position: relative;
    /* border: 2px solid; */
    margin-left: 40px;
    max-width: 400px;
}
.abt-top-right h3{
    font-size: 19px;
    margin-top: 10px;
}

.abt-mid{
    position: relative;
    display: flex;
    /* border: 2px solid; */
    padding: 50px;
    align-items: center;
    justify-content: center;
}


