.project-page{
    padding:150px 0 50px 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    animation: fade-up 0.5s;
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
    background-image: linear-gradient(#b7d6ed, #b7d6ed, #b7d6ed, #c5daee, #ccd7ea, #e9dbea, #f5d6d6);

}

.dark .project-page{
    background-image: linear-gradient(#18336e, #18336e, #1c4676, #21547a, #2a6e89);
    
    
}
.exp-container{
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    border: 0px solid;
}
.exp-details{
    border-radius: 20px;
    min-height: 360px;
    width: 25vw;
    border: 2px solid ;
    margin: 20px;
    padding: 30px;
    background-color: #e4f6fc88;
    box-shadow: 0 4px 8px rgba(72, 40, 40, 0.2);
    backdrop-filter: blur(3px);
}
.dark .exp-details{
    background-color: rgba(159, 73, 181, 0.405);;
    border: 2px solid pink;
}

.bulletpt-list{
    padding: 20px;
    align-items: left;
    text-align: left;
}
.bulletpt-list h3{
    line-height: 1.2;
margin-bottom: 10px;
}
.dates{
    height: 100%;
    margin: 20px 0px;
    margin-right: 10px;
    
}

.date-container{
    display: flex;
    height: 120px; 
    align-items: center;

}
.dark .date-container h3{
    color:#a7d2f4;
}
.date-container h3{
    font-size: 14px;
}

.date-clicked{
    display: flex;
    height: 120px;
    align-items: center;
}
.date-clicked h3{
    color:#ff51a5;
    font-size: 14px;
}
.dark .date-clicked h3{
    color: pink;
}
.datessidebar{
    display: flex;

    height: 100%;
}
.sidebar{
    margin: 20px;
    width: 15vw;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.14); */
    /* border: 2px solid green; */
    border-left: 3px solid white;

}
.exp-det-cont{
    text-align: left;
    
}
.exp-det-cont h1{
    font-family: titlefontbold;
    line-height: 1;
    margin-bottom: 10px;
font-size: 20px;
}
.exp-det-cont h2{
    font-size: 18px;
}
.exp-det-cont h3{
    font-size: 15px;
}

.exp-title{
    /* border: 2px solid; */
    height: 120px;
    position: relative;
    left: -3px;
    border-left: 3px solid #4160b3c6;
    text-align: left;
    padding: 20px;
    }
.exp-title h2{
    color: #4160b3c6;
    font-size: 18px;
    font-family: namefont;
    font-weight: 100;
}
.exp-title h3{
    color: #4160b3c6;
}
.exp-title:hover{
    border: 2px solid #1943b7;
    border-left: 8px solid #1943b7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: rgba(124, 178, 203, 0.388); */
    backdrop-filter: blur(3px);
    color: #1943b7;
}
.exp-title:hover h2{
    color: #1943b7;
}
.exp-title:hover h3{
    color: #1943b7;
}
.dark .exp-title h2{
    color: rgba(179, 222, 255, 0.921);
}
.dark .exp-title h3{
    color: rgba(175, 220, 255, 0.921);
}
.dark .exp-title:hover{
    border: 2px solid white;
    border-left: 8px solid white;
    /* background-color: rgba(124, 178, 203, 0.388); */
}
.dark .exp-title:hover h2{
    color: white;
}
.dark .exp-title:hover h3{
    color: white;
}
.clicked{
    /* border: 2px solid; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 120px;
    position: relative;
    left: -3px;
    border: 2px solid #ff51a5;
    border-left: 8px solid #ff51a5;
    background-color: #e4f6fc88;
    text-align: left;
    padding: 20px;
    }
    .clicked h2{
        color: #ff51a5;
        font-size: 18px;
        font-family: namefont;
        font-weight: 100;
    }
    .clicked h3{
        color: #ff51a5;
    }
.dark .clicked{
    background-color: rgba(159, 73, 181, 0.405);
}
    .dark .clicked h2{
        color:pink;
        font-size: 18px;
        font-family: namefont;
        font-weight: 100;
    }
    .dark .clicked h3{
        color: white;
    }
.proj-container{
    height: 100%;
    width: 97%;
    padding: 2%;
    display: flex;
    margin: 0;
    justify-content: center;
    /* border: 2px solid;
    background-color: white; */
}

.proj-card{
    margin: 0 20px;
    padding: 20px;
    height: 100%;
    width: 400px;
    border: 2px solid white;
    background-color: #e4f6fc38;
    background-color: rgb(249, 254, 255);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(72, 40, 40, 0.2);
}
.proj-card h1{
    color: rgb(122, 160, 83);
}
.proj-card h3{
    color: rgb(116, 104, 86);
}
.dark .proj-card h1{
    color: rgb(122, 160, 83);
}
.dark .proj-card h3{
    color: rgb(116, 104, 86);
}
.proj-img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(72, 40, 40, 0.2);
}
.proj-blurb{
    margin: 20px;

}



@media screen and (max-width: 1000px) {
    .date-container{
        margin: 0px;
        width:150;
    }
    .date-clicked{
        width: 150px;
    }

    .exp-det-cont{
        width: 100%;
    }
    .exp-details{
        width: 80%;
    }
    
    .proj-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .exp-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .datessidebar{
        display: flex;
        padding: 0;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .clicked{
        width: 250px;
    }
    .exp-title{
        width: 250px
    }

    .proj-card{
        margin-bottom: 20px;
        overflow: hidden;
        height: 300px;
    }

}